@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&family=Ubuntu:ital,wght@0,300;1,300&display=swap');
*{
    margin:6px;
    padding: 0;
}
.contrainer{
    max-width: 80vw;
    height: 47px;
    
}
.navbar{

    display: flex;
    height: 67px;
    

}
.navbar li{
    list-style:none;
    margin: 0 12px;
    
}
.topleft{
width: 50%;
}
.topright{
    width: 50%;
    }